<div class="container">
  <div class="team-members">
    <h2>My team:</h2>
      <ul>
      <% @users.each do |subordinate| %>
        <li><%= link_to("#{subordinate.first_name.capitalize} #{subordinate.last_name.capitalize} | #{subordinate.rfc.upcase}", edit_user_user_path(current_user.id, subordinate)) %>

        </li>
      <% end %>
      </ul>
  </div>
  <div>
    <p><%= link_to 'Add Team Member', new_user_registration_path, class: "btn btn-primary" %></p>
  </div>

</div>
