<div class="container">
  <div class="team-members">
    <h2>My team:</h2>
      <ul>
      <% @users.each do |user| %>
        <% if policy(user).update?  %>
          <li><%= link_to("#{user.first_name.capitalize} #{user.last_name.capitalize} | #{user.rfc.upcase}", user_user_path(current_user.id, user)) %>
          </li>
        <% end %>
      <% end %>
      </ul>
  </div>
  <div>
    <% if policy(@users).create? %>
    <p><%= link_to 'Add Team Member', new_user_registration_path, class: "btn btn-primary" %></p>
    <% end %>
  </div>

</div>
