<div class="container">
  <h1>Welcome to your ACME Portal!</h1>
  <p><strong>Employees:</strong> Log into your account to see your data and reports</p>
  <p><strong>Managers:</strong> Log into your account to manage your team</p>

</div>

