<h1>My entrance/exit reports:</h1>
<% @reports.each do |report| %>
  <h2><%= report.checked_in.strftime("%A, %d %b %Y") %></h2>
  <p><%= report.checked_in.strftime("Checked in at: %I:%M:%S %p") %></p>
  <p><% if report.checked_out %>
      <%= report.checked_out.strftime("Checked out at: %I:%M:%S %p") %>
    <% else %>
      <em><strong>Not checked out yet</strong></em>
    <% end %>
<% end %>
